body{
     

  margin: 0;
  height: 100vh; /* Full screen height */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  background-image: url("frontpage.jpg");
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}


button{
    color:white;
    background-color: rgb(4, 4, 4);
    display: inline-block; 
    width: 100%;
    border: none;
    border-radius: 15px; 
    padding: 15px; 
    vertical-align: left;
    margin-top: 10px;
    cursor: pointer;
    font-weight:bold;
        
}
form{
    color:rgb(2, 2, 30);
}
div{
    color: rgb(228, 138, 3);
}
h1{
 text-align: center;
}
.container{
    background-color: #f18e1c;
    display: inline-block; width: 50;
    border: 2px solid rgb(6, 7, 7);
    border-radius: 15px; padding: 20px;
    vertical-align: left;
    margin: 2px;
}
.container{
  
    background-color:  #f18e1c; 
    display: inline-block; width: 50;
    border: 2px solid rgb(6, 7, 7);
    border-radius: 15px; 
    padding: 20px; 
    vertical-align: left;
    margin: 2px;
    
}
.login{
    background-color:rgba(157, 177, 177, 0.8);
    display:inline-block; 
    width:200px;
    border:3px solid black; 
    border-radius:15px;
    padding: 50px; 
    vertical-align:top; 
    margin:5px;
}



.links {
  margin-top: 15px;
}

.links a {
  color: #000;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}
.container-seat{
    background-color: rgb(223, 108, 26);
    text-align: center;
}
h1{
    text-align: center;
    font-size:28px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #222;
}
.coach {
    background:  rgb(223, 108, 26);
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
    color: white;
    

}
.seats{
    display: grid;
    grid-template-columns: repeat(6, 50px);
    grid-gap: 10px;
    justify-content: center;
    margin-top:20px ;
    
}
.seat{
    position: relative ;
}
.seat input{
    display:none ;
    
}
.seat label{
    display: block;
    background: white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    border: 2px solid #fff;
    background: transparent;
    transition: 0.3s;

}
.seat input:checked + label{
    background: rgb(0, 0, 2);
    border-color: rgb(0, 0, 2);
    color: white;
}
.booked label{
    color: black;
    background: white;
    cursor: not-allowed;
}
.legend{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.legend span{
    display: flex;
    align-items: center;
    gap: 5px;
}
.box{
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 2px solid #ccc;
    display: inline-block;
}
.available{
    background: transparent;
    border: 2px solid #fff;
}
.bookedbox{
    background: white;
}
.selected{
    background: rgb(0, 0, 2);
}
.navigation{
    margin-top: 20px;
    text-align: center;
}
.navigation .btn{
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background: #293b52;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}
.navigation .btn:hover{
    background: #81b6ef;
}
